@page "/about"

<PageTitle>About - ENVIMIX project</PageTitle>

<ReuContainer>
    <h3>About</h3>

    <p>NADEO ENVIMIX is a Trackmania challenge invented by Poutrel about driving the same Nadeo maps with different cars.</p>
</ReuContainer>

@code {

}
