.categories {
    display: flex;
    gap: 1rem;
}

    .categories .card {
        flex: 1;
        height: 550px;
        border: 5px solid #222;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 10px #111, 0 0 40px #4444;
        background-size: cover;
        background-position: center;
    }

    .categories a.card:hover {
        box-shadow: inset 0 0 15px #111, 0 0 60px #AAA6;
        border-color: #888;
        cursor: pointer;
        transform: scale(1.02);
        transition: all 0.2s;
    }

h2 {
    text-align: center;
    margin: 2rem;
}

.tm2020 {
    background: linear-gradient(to bottom, #555A, #222A), url(img/cards/tm2020.jpg);
}

.turbo {
    background: url(img/cards/turbo.jpg);
}

.tm2 {
    background: linear-gradient(to bottom, #555A, #222A), url(img/cards/tm2.jpg);
}

.tmuf {
    background: linear-gradient(to bottom, #555A, #222A), url(img/cards/tmuf.jpg);
}

@media (max-width: 1200px) {
    .categories {
        flex-direction: column;
    }
        .categories .card {
            flex: auto;
        }
}