@page "/"

<PageTitle>Home - ENVIMIX project</PageTitle>

<ReuContainer>
    <h2>NADEO ENVIMIX is a Trackmania challenge about driving the same Nadeo maps with different cars</h2>
    <div class="categories">
        <div href="tm2020" class="card tm2020"></div>
        <a href="turbo" class="card turbo"></a>
        <div href="#" class="card tm2"></div>
        <div href="#" class="card tmuf"></div>
    </div>
</ReuContainer>