body {
    background-color: #111;
}

.primary-buttons {
    display: flex;
    gap: 1rem;
    text-align: center;
}

    .primary-buttons a.alternative {
        display: block;
        font-size: 80%;
        margin-top: 0.2rem;
        padding: 0.5rem;
        color: #ADF;
        font-weight: bold;
        text-shadow: 0 0 5px #111;
    }

    .primary-buttons span.alternative {
        display: block;
        font-size: 80%;
        margin-top: 0.2rem;
        padding: 0.5rem;
        color: #888;
        font-weight: bold;
        text-decoration: line-through;
        text-shadow: 0 0 5px #111;
    }

.install-btn {
    font-size: 150%;
    font-weight: bold;
    padding: 1rem 1.5rem !important;
}

.download-btn {
    font-size: 150%;
    font-weight: bold;
    padding: 1rem 1.5rem !important;
}

.turbo-bg {
    background: linear-gradient(to bottom, #FC13, #181818), url(img/turbo/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

footer {
    margin: 20px 0;
    color: gray;
    text-align: center;
    padding: 10px;
}

.logo-area img {
    filter: drop-shadow(0 0 1rem #fc16);
}

@media (max-width: 500px) {
    .primary-buttons {
        flex-direction: column;
    }
}